#player {
    width: 50px;
    height: 50px;
    background-image: url("/assets/game/dino.png");
    border: 1px solid black;
    background-size: 50px 50px;
    position: relative;
    top: 400px;
    left: 20px;
}

.move {
    animation: move 0.2s infinite linear;
}

@keyframes move {
    0% {
        background-image: url("/assets/game/run1.png");
    }

    50% {
        background-image: url("/assets/game/run2.png");
    }

    100% {
        background-image: url("/assets/game/run1.png");
    }
}

.jump {
    background-image: url("/assets/game/dino.png");
    animation: jump 0.5s linear;
}

@keyframes jump {
    0% {
        top: 400px;
    }

    30% {
        top: 340px;
    }

    50% {
        top: 300px;
    }

    70% {
        top: 340px;
    }

    100% {
        top: 400px;
    }
}

#obs {
    width: 30px;
    height: 60px;
    background-color: red;
    border: 1px solid black;
    position: relative;
    top: 340px;
    right: -1150px;
    overflow: hidden;
}

.obsMove {
    animation: obsMove 3s infinite linear;
}

@keyframes obsMove {
    0% {
        right: -1150px;
    }
    100% {
        right: 0px;
    }
}

#background {
    height: 50px;
    width: 1200px;
    position: relative;
    background-image: url(/assets/);
    top: 340px;
}