main {
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
    color: white;
}
input[type=text], input[type=password] {
    font-size: larger;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

input[type=submit] {
    font-size: larger;
    padding: 10px 20px;
    margin: 10px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}