/* General navigation */
nav {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
    width: 100%;
    background: linear-gradient(to right, rgb(55, 55, 55), #333);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

nav ul li {
    display: inline-block;
    font-size: 15px;
    padding: 15px 10px;
    width: 80px;
    height: auto;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul li.split {
    float: right;
}

nav ul li:hover, nav ul li#active:hover, nav ul li#split:hover {
    transition: all 0.2s ease-in;
    background-color: white;
    color: rgb(40, 40, 40);
}

nav ul li#active {
    background-color: greenyellow;
    color: green;
}

/* Dropdown menu */
nav ul li.dropdown {
    position: relative;
}

nav ul li.dropdown ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(60, 60, 60);
    z-index: 1;
    margin: 0;
    padding: 0;
}

nav ul li.dropdown:hover ul {
    display: block;
}

nav ul li.dropdown ul li {
    text-align: center;
    margin: 0;
    padding: 15px 10px;
}

.logo {
    background-color: rgb(55, 55, 55);
    display: flex;
    flex-grow: 1;
    justify-content: center;
    position: relative;
    transition: background-color 0.5s ease-in-out;
}

.logo a img {
    width: 40px;
    height: auto;
    margin: 0;
    padding: 0;
}
